@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}

#popup {
  min-width: 350px;
  padding: 30px 20px;
  text-align: center;

  h2 {
    font-size: 25px;
  }

  button {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
}
